.categories {
    padding: 35px $mobilePadding 65px;
}

.categories__heading {
    margin: 0 0 30px;
    font-size: 1.625rem;
}

.categories__list {
    margin: 0 0 5px;
    padding: 0;
    column-gap: 30px;
    column-width: 130px;
    list-style: none;
}

.categories__item {
    display: flex;
    justify-content: center;
    margin: 0 auto 28px;
    break-inside: avoid;
}

.categories__pic {
    margin-bottom: 10px;
}
.categories__thing {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}


.categories__link {
    &:hover,
    &:focus {
        outline: none;
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }
}
