.denim {
    position: relative;
    display: grid;
    padding: 25px $mobilePadding 50px;
    justify-items: center;

    background-color: $light-background-color;

    @media (min-width: $tabletWidth) {
        grid-template-columns: 1fr 1fr;

        grid-column-gap: 45px;
        grid-row-gap: 52px;
        padding: 82px $tabletPadding 27px;
    }

    @media (min-width: $desktopWidth) {
        grid-template-columns: 470px 1fr;
        grid-column-gap: 100px;
        padding: 50px $desktopPadding 50px;
    }
}

.denim__pic {
    position: relative;
    z-index: 2;
}

.denim__image-wrapper {
    position: relative;
    margin-bottom: 45px;

    &::before {
        content: url('../img/diagonal-small.png');
        position: absolute;
        top: -20px;
        left: -21px;
    }

    &::after {
        content: url('../img/diagonal-small.png');
        position: absolute;
        right: -20px;
        bottom: -24px;

        transform: scale(-1, 1);
    }

    @media (min-width: $tabletWidth) {
        order: 1;
        margin-bottom: 0;

        &::before {
            content: url('../img/big-diagonal-tablet.png');
            top: -28px;
            left: -31px;
        }

        &::after {
            content: url('../img/big-diagonal-tablet.png');
            right: -28px;
            bottom: -31px;
        }
    }

    @media (min-width: $desktopWidth) {
        display: flex;
        justify-self: flex-start;

        &::before {
            content: url('../img/diag-desktop.png');
            top: -51px;
            left: -55px;
        }

        &::after {
            content: url('../img/diag-desktop.png');
            right: -51px;
            bottom: -55px;
        }
    }
}

.denim__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;

    @media (min-width: $tabletWidth) {
        justify-self: flex-end;
        align-self: flex-end;
    }

    @media (min-width: $desktopWidth) {
        align-self: center;
    }

}

.denim__slogan {
    margin: 0 0 10px;
    color: $grey-letter-color;
    font-size: 1.12rem;

    @media (min-width: $tabletWidth) {
        align-self: start;
        margin: 0 0 20px;
    }
}

.denim__name {
    margin: 0 0 42px;

    @media (min-width: $tabletWidth) {
        width: 230px;
        margin: 0 0 55px;
    }

    @media (min-width: $desktopWidth) {
        width: 305px;
    }

}

.denim__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 202px;
    max-width: 202px;
    margin: 0 auto;
    padding: 23px 10px;


    &:hover,
    &:focus {
        outline: none;
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }

    @media (min-width: $tabletWidth) {
        align-self: start;
        width: 220px;
        max-width: none;
        margin: 0;
    }
}

.denim__social {
    position: relative;
    display: none;

    @media (min-width: $tabletWidth) {
        display: block;

        order: 2;
        width: 100%;
        grid-column: 1 / -1;
    }

    @media (min-width: $desktopWidth) {
        position: absolute;
        right: 0;
        bottom: 32px;
    }
}

.denim__social-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    font-size: 14px;
    list-style: none;

    @media (min-width: $desktopWidth) {
        flex-direction: column;
        align-items: flex-end;
    }
}

.denim__social-item:not(:last-child) {
    margin-right: 35px;

    @media (min-width: $desktopWidth) {
        order: 1;
        margin-right: 0;
    }
}

.denim__social-link {
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover,
    &:focus {
        outline: none;
        opacity: 0.5;
    }
}

.denim__social-button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url('../../img/arrow-bottom.svg');
    background-repeat: no-repeat;
    border: none;

    &:hover,
    &:focus {
        outline: none;
        opacity: 0.6;
    }

    &:active {
        opacity: 0.3;
    }

    @media (min-width: $desktopWidth) {
        top: 45px;
    }
}
