.fall {
    padding: 15px $mobilePadding 20px;
    background-image: url("../img/big-line-tablet.png");
    background-repeat: repeat-x;

    @media (min-width: $tabletWidth) {
        display: flex;
        padding: 0 $tabletPadding 0;
        background-repeat: repeat;
        background-position: right top;
        background-clip: content-box;
    }

    @media (min-width: $desktopWidth) {
        padding: 0 $desktopPadding 20px;
        background-image: url('../img/dagonal-desktop.png');
    }
}

.fall__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 40px;
    background-color: $light-background-color;

    @media (min-width: $tabletWidth) {
        justify-content: center;

        align-items: flex-start;
        order: 1;
        width: 48%;
        padding: 20px 20px 20px 0;


        background-clip: content-box;
    }

    @media (min-width: $desktopWidth) {
        padding: 30px 70px 30px 0;
    }

}

.fall__desc {
    margin: 0;
    color: $grey-letter-color;
    font-size: 1.125rem;
}

.fall__name {
    margin: 0 0 25px;
    color: $dark-letter-color;
    font-weight: bold;
    font-size: 1.625rem;

    @media (min-width: $tabletWidth) {
        font-size: 2.025rem;
    }

    @media (min-width: $desktopWidth) {
        margin: 0 0 45px;
    }

}

.fall__pic-wrapper {
    position: relative;
    left: 50%;
    width: 100vw;
    overflow: hidden;
    transform: translate(-50%);

    @media (min-width: $tabletWidth) {
        left: 0;
        width: 52%;
        transform: none;
    }

    @media (min-width: $desktopWidth) {
        width: 72%;
    }
}

.fall__pic {
    width: 100%;
}

.fall__link {
    width: 148px;
    padding: 20px 10px;

    &:hover,
    &:focus {
        outline: none;
        opacity: 0.7;
    }

    &:active {
        opacity: 0.4;
    }

    @media (min-width: $desktopWidth) {
        width: 200px;
    }
}

.fall__padding {

    @media (min-width: $tabletWidth) {
        margin-left: 50px;
    }

    @media (min-width: $desktopWidth) {
        margin-left: 75px;
    }
}


