.header {
    display: grid;
    padding: 0 $mobilePadding;
    background-image: linear-gradient(180deg, transparent 0 45%, $light-background-color 45% 100%);

    @media (min-width: $tabletWidth) {
        padding: 0 $tabletPadding;
        background-image: linear-gradient(180deg, transparent 0 100%);
    }
}

.header--catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__logo {
    justify-self: center;
}

.header__logo--catalog {
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 2;
}
