.logo {
    fill: $dark-letter-color;

    &:hover,
    &:focus {
        outline: none;
        fill: $grey-letter-color;
    }

    &:active {
        opacity: 0.5;
    }

    @media (min-width: $tabletWidth) {
        padding: 25px 0 20px;
    }
}

.logo--footer {
    padding: 0;
    fill: $light-letter-color;
}


