.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;

    @media (min-width: $tabletWidth) {
        padding: 33px 0 20px;
    }
}
