.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;

    color: $dark-letter-color;

    font-family: "Work-sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.main-nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
