.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav--index {
    @media (min-width: $tabletWidth) {
        position: absolute;
        top: 73px;
        left: 50%;

        z-index: 1;
        width: 100%;
        max-width: 1560px;
        padding: 0 $tabletPadding;
        transform: translate(-50%);
    }
}

.main-nav--catalog {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;

    @media (min-width: $tabletWidth) {
        padding: 33px 0 20px;
    }
}
