.site-nav {
    width: 75%;
    margin: 0;
    list-style: none;
}

.site-nav__item {
    &:hover {
        opacity: 0.5;
    }

    &:not(:last-child) {
        margin-right: 25px;
    }

    @media (min-width: $tabletWidth) {
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
}

.site-nav__item a {
    &:focus {
        outline: none;
        opacity: 0.5;
    }
}
