.site-nav {
    width: 75%;
    margin: 0;
    list-style: none;
}

.site-nav--desktop {
    @media (min-width: $desktopWidth) {
        display: flex;
        flex-direction: column;
        width: max-content;
        padding: 40px 0 0 55px;
    }
}

.site-nav__item {
    &:hover {
        opacity: 0.5;
    }

    &:not(:last-child) {
        margin-right: 25px;
    }

    @media (min-width: $tabletWidth) {
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
}

.site-nav__item--desktop {
    @media (min-width: $desktopWidth) {
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 27px;
        }
    }
}

.site-nav__item a {
    &:focus {
        outline: none;
        opacity: 0.5;
    }
}


