.user-nav {
    margin: 0;
    list-style: none;
}

.user-nav__item:not(:last-child) {
    margin-right: 20px;


    @media (min-width: $tabletWidth) {
        margin-right: 30px;
    }
}

.user-nav__link {
    fill: none;
    stroke: $dark-letter-color;

    &:hover,
    &:focus {
        outline: none;
        stroke: $grey-letter-color;
    }

    &:active {
        opacity: 0.5;
    }
}

.user-nav__icon {
    @media (min-width: $tabletWidth) {
        width: 22px;
        height: 22px;
    }
}


