:root {
    box-sizing: border-box;
    font-size: 1em;
}

body {
    min-width: 320px;
    max-width: 1366px;
    margin: 0 auto;

    color: $dark-letter-color;
    font-family: "Work-sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    overflow-x: hidden;
}

*,
::before,
::after {
    box-sizing: inherit;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

