/* Vars:
   ========================================================================== */

// Font
// $mainFont: "Oswald", "Arial", sans-serif;

// Size
// $mainFontColor: #000000;
// $mainFontSize: 14px;
// $mainFontWeight: 400;
// $mainLineHeight: 18px;

$desktopWidth: 1366px;
$tabletWidth: 768px;
$phoneWidth: 320px;

$mobilePadding: 15px;
$tabletPadding: 45px;
$desktopPadding: 98px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$light-background-color: #f1f2f4;
$dark-background-color: #151c22;
$dark-letter-color: #151c22;
$grey-letter-color: #727a82;
$light-letter-color: #ffffff;


// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
